{% extends 'base.html' %}
{% block title %}{{ doctor.last_name }} {{ doctor.first_name }}{% endblock title %}
{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/' + doctor.photo) }}" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Лікар: <strong>{{ doctor.last_name }} {{ doctor.first_name }} {{ doctor.middle_name }}</strong></p>
                        <p class="card-text">Спеціалізація: <strong>{{ doctor.specialization }}</strong></p>
                        <p class="card-text">Номер телефону: <strong>{{ doctor.phone }}</strong></p>
                        <p class="card-text">Електронна адреса: <strong>{{ doctor.email }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}