{% extends 'base.html' %}
{% block title %}Процедури{% endblock title %}
{% block content %}
    <h1 class="display-2">Список процедур</h1>
    {% if procedure_types %}
        {% for procedure_type in procedure_types %}
            <div class="alert alert-info">
                <h1>Процедура: <strong>{{ procedure_type.name }}</strong></h1>
                <p>Мінімальні ціна: <strong>{{ procedure_type.price }}</strong></p>
                <p>Деталі: <strong>{{ procedure_type.details }}</strong></p>
                {% if current_user.is_authenticated and (current_user.role.name == 'Адміністратор' or current_user.role.name == 'Супер адмін') %}
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-primary mx-3" href="{{ url_for('procedure_type_update', pk=procedure_type.pk) }}">Редагувати послугу</a>
                        <a class="btn btn-sm btn-outline-danger mx-3" href="{{ url_for('procedure_type_delete', pk=procedure_type.pk) }}">Видалити послугу</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Немає нічого((</p>
    {% endif %}
{% endblock content %}